includes:
    - phpstan-baseline.neon   # https://medium.com/@ondrejmirtes/phpstans-baseline-feature-lets-you-hold-new-code-to-a-higher-standard-e77d815a5dff ### vendor/bin/phpstan analyse --level 7     --configuration phpstan.neon.dist     --error-format baselineNeon     src/ tests/ > phpstan-baseline.neon
    #- vendor/phpstan/phpstan-phpunit/extension.neon
    #- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 7
    #autoload_files:
        #- bin/.phpunit/phpunit-7.5-0/vendor/autoload.php
    paths:
        - src
        - tests

    ignoreErrors:
        #- '##'
        #-
            #message: "#^#"
            #path:  src/


    excludes_analyse:
        - '*/vendor/*'